<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="/"><img src="img/BnR.png" alt="Logo" style="width: 45px; height: 45px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Help</a>
          </li>
        </ul>
        <a href="/client" class="btn btn-primary py-sm-2 px-4 px-sm-4 rounded-pill mb-1 animated slideInLeft" style="margin-right: 1em;">client</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <a href="/search" class="btn btn-success" type="submit">Search</a>
        </form>
      </div>
    </div>
  </nav>